.Weather {
    border: 1px solid #dadde1;
    border-radius: 10px;
    font-family: arial, sans-serif;
    padding: 30px;
    background-color: #fff;
}
.Weather h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 48px;
    margin: 20px 0 0 0;
}
.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather li {
    font-size: 16px;
    list-style: none;
    font-weight: 100;
    line-height: 19px;
}
.Weather canvas {
margin-top: 5px;
margin-right: 5px;
}
.Weather .temperature {
    color: rgb(33, 33, 33);
    font-weight: 400;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
}
.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    position: relative;
    top: -34px;
    font-weight: 400;
    margin-left: 4px;
    line-height: 1;
}
.btn-primary {
    background-color: #885df1;
    color: #fff;
    border: none;
    padding: 10px;
}
.Weather .form-control {
background-color: #f9f7fe;
color: #a5a1b2;
font-size: 16px;
border: none;
border-radius: 5px;
padding: 10px;
}